body {
  font-family: Papyrus;
  color: blueviolet;
  background: linear-gradient(
    142.4deg,
    rgb(139, 98, 208) 5%,
    rgb(126, 124, 223) 28.2%,
    rgb(109, 207, 236) 62.5%,
    rgb(176, 239, 244) 89.1%
  );
  background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/43/78/0oaFZK.jpg");
  background-attachment: fixed;
}

h1 {
  font-weight: 400;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

li {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
}
